<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud+</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/standar_normalize.css') }}">

    <script src="{{ url_for('static', filename='js/redirect.js') }}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            </a>
        </div>
    </header>

    <main>
        <div class="left">
            <img src="{{ url_for('static', filename='img/welcome.svg') }}" alt="">
        </div>

        <div class="right">
            <div id="title">
                <h1>Bienvenido a</h1>
                <h1 id="title"><span id="salud-tile">Salud</span><span id="plus-title">+</span></h1>
            </div>
            <h2>Iniciar sesión</h2>
            <a href="sign-in">Ingresar</a>

            <h2>¿Aún no tienes una cuenta?</h2>
            <a href="sign-up">Regístrate</a>
        </div>
    </main>
</body>
</html>